{% extends 'base.html' %}
{% block title %}{{block.super}} HomePage | JSON {% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg p-3 mb-5">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container d-flex justify-content-center">
        <h4 class="navbar-text text-white">
            Django Paper Arrangement
        </h4>
    </div>

</nav>
<div class="container">
    <div class="center">
        <span id="pdftyped" style="font-size:35px;"></span>
    </div>
</div>

<div class="container mt-5 ">
<div class="row justify-content-center">
     <div class="col-sm-12 col-lg-3 mr-auto ml-auto border p-4">

      <a class="btn btn-dark d-flex justify-content-center font-weight-bold" style="font-size:18px;" href="{% url 'PDF' %}"><i class="far fa-file-pdf fa-lg mr-2" style="color:#33cc33;"></i>Download PDF</a>
     </div>
</div>
</div>
<footer>
    <p>Copyright &copy; | All Rights Reserved by
        <a class="footer-a" href="https://github.com/SandyUndefined/Django-Paper-Arrangement">Sandeep Kumar Sharma</a></p>
</footer>
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script src='{% static "js/pdf.js" %}'></script>
{% endblock content %}