{% extends 'base.html' %}
{% block title %}{{block.super}} HomePage {% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg p-3 mb-5">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container d-flex justify-content-center">
      <h4 class="navbar-text text-white">
    Django Paper Arrangement
  </h4>
  </div>

</nav>
<div class="container">
    <div class="center">
<span id="typed" style="font-size:35px;"></span>
    </div>
</div>
<div class="container mt-5 ">
<div class="row justify-content-center">
        <div class="col-md-6 bd-example">
      <div class="input-group">
        <div class="custom-file">
          <input class="custom-file-input" id="inputGroupFile04" type="file" accept="json/*">
          <label class="custom-file-label" for="inputGroupFile04">Upload Json</label>
        </div>
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
        <p>Copyright &copy; | All Rights Reserved by <a class="footer-a" href="https://github.com/SandyUndefined/Django-Paper-Arrangement">Sandeep Kumar Sharma</a></p>
</footer>
{% endblock content %}